<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style_1.css" />
    <title>Portföy</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">MY SKILLS</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#feedback">feedback</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Önizleme bölümü -->
      <section class="main__home home" id="home">
        <h1 class="home__title">KODLAND</h1>
        <p class="home__subtitle">AI PROGRAMMER, WEB-DEVELOPER, PYTHON PROGRAMMER</p>
      </section>
      <!-- Hakkımda bölümü -->
      <section class="main__about about" id="about">
        <h2 class="about__title"> Hello Dear Teacher :D</h2>
        <div class="about__info info-block">
          {% block body %}
          <p class="info-block__text">
            My name is Alperen, I am  {{ year }} years old. I am a student on Python plus course
            in Kodland. I started my programming journey with 
            Python and Frontend Coding . The programming 
            languages I know are Python.
          </p>
        {% endblock %}        
        <img
        class="info-block__img"
        src="../static/img/profile.jpg"
        alt="What I Literally Use On My Profile"
        width="250"
        height="250"
      />
        </div>
      </section>
      <!-- Beceriler bölümü -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">My Projects</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">My Portfoy</span>
              <a class="project__link" href="https://github.com/GitKodland/portfolio_tur">GitHub Link</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/git.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Bu Sitenin</span>
              <a class="project__link" href="https://github.com/coder-alperen/The_Final_Of_The_Python_Plus">Kodları</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">My PYTHON PROJECT</span>
              <a class="project__link" href="https://hub.kodland.org/project/142975">Kodland Game Link</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Just a Website</span>
              <a class="project__link" href="{{ url_for('ana_sayfa')}}">I Still Try Codding This Website</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/calculator.jpg"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Just a Calculator</span>
              <a class="project__link" href="{{ url_for('einstein')}}">Just A Calculator</a>
            </li>
          </ul>
        </form>
        
         
        
      </section>
      <!-- Geri bildirim formu -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Enter your E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Comment"></textarea>
          </label>
          <button class="form__button" type="submit">SEND</button>
        </form>
      </section>
    </main>
  </body>
</html>
